<section class="auth login-page pb-5">
  <div class="container no-pd">
    <div class="col-lg-5 col-xs-12 col-md-12 col-sm-12 no-pd">
      <div class="login-form-wrapper pt-5">
        <p class="p-style">Reset Password</p>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), method: :post, html: { novalidate: false, class: 'validate-form', id: 'confirmation_form' }) do |f| %>


          <%= f.input :login, autofocus: true, autocomplete: false, class: 'form-control' %>

          <div class="signin-btn col-lg-12 pl-0 pr-0 pt-3 pb-3">
            <%= f.submit "Resend confirmation instructions", class: 'sign-in-btn' %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>

<%= javascript_tag do %>
  $(document).ready(function(){
    $('section.login-page').css('height', $( window ).height() - $('section.login-page').offset().top );
    FormInitializer.init($("#confirmation_form"));
  });
<% end %>
