<%= simple_form_for(resource, url: user_registration_path, html: { novalidate: false, class: 'validate-form' }) do |f| %>

  <%= f.input :first_name, autofocus: true, required: true %>

  <%= f.input :last_name, autofocus: true, required: true %>

  <%= f.input :email, autofocus: true, required: true, as: :email %>

  <%= f.input :login, autofocus: true, label: User.human_attribute_name('phone'), placeholder: User.human_attribute_name('phone'), id: 'user_login_phone', autocomplete: 'off' %>

  <div class="signin-btn col-lg-12 pl-0 pr-0 pt-4 pb-3">
    <%= f.submit "Sign up", class: 'sign-in-btn' %>
  </div>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function(){
    $("#user_login_phone").intlTelInput({initialCountry: 'IN'});
  });
<% end %>
